{{> header}}
<section class="metric_list clearboth">
    {{#metric_watchers}}
        {{> metric}}
    {{/metric_watchers}}
</section>
<script type="text/javascript">
function init() {
    $(".metric").each(function (count, elem) {
        function update() {
            $.ajax({
                url: "/" + elem.id,
                timeout: 20000,
                success: function(resp) {
                    matched = $("#" + elem.id);
                    matched.hide();
                    matched.after(resp);
                    matched.detach();
                    window.setTimeout(update, 1000);
                },
                error: function (req, status, error) {
                    alert('Failed: ' + status + ' ' + error)
                }
            });
        };
        update();
    });

    window.setTimeout(function () {window.location.reload();}, 60000);

};
$(document).ready(init);
</script>
{{> footer}}
