{{> header}}
<section class="metric_list clearboth">
    {{#metric_watchers}}
    <section class="metric">
        <div class="metric_name">{{name}}</div>

        {{#status_ok}}
        <div class="metric_value_ok">
        {{/status_ok}}
        {{#status_warning}}
        <div class="metric_value_warning">
        {{/status_warning}}
        {{#status_critical}}
        <div class="metric_value_critical">
        {{/status_critical}}

            {{value}}
        </div>

        <div class="metric_duration">
            <small>(for {{duration}})</small>
        </div>
    </section>
    {{/metric_watchers}}
</section>
{{> footer}}
