    </section>
    <footer>
        <div class="" id="footer_powered">Powered by <a href="http://github.com/rhettg/Pharos">Pharos</a></div>
        <div class="" id="footer_generated">Generated {{generated_when}}</div>
    </footer>

</body>
</html>