<!DOCTYPE html>
<html>
  <head>
    <title>Pharos</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/invisibleframework.css" type="text/css" media="screen" />
    <style type="text/css" media="screen">
      body { padding: 0em 2em 0 2em; background: #333; color: white; font-size: 12px;}
      header nav { background: gray; padding: 0.7em; border-radius: 0.5em;} a { color: orange; }
      footer { font-size: 0.7em; clear: left; padding-top: 3em;}
      
      input { width: 40%; }
      #title { float: left; padding: 1em 1em 0 0}
      #tagline { clear: right; padding: 1.85em 0em 0em 1em; color: #555;}
      .metric {padding: .7em 0em 0em 1em; float: left; border: 1px solid #555; width: 350px; margin: 2px 2px 0 0; display:none;}
      .metric_highlight {border: 1px solid #222; background: #555;}
      .metric_list {padding: 2em 0em 1em 1em; clear: right;}
      .metric_name { float: left; padding-right: 1em; margin: .30em 0em 0em 0em; width: 170px; cursor: pointer;}

      .metric_value_ok, .metric_value_warning, .metric_value_critical { float: left; padding: .2em .3em .2em .3em; margin: .1em .7em 1em .5em; font-family: monospace; width: 55px;}
      .metric_value_ok { background: green;}
      .metric_value_warning { background: orange;}
      .metric_value_critical { background: red;}
      
      .metric_detail {display: none; clear:left; margin-bottom: .50em; }
      .metric_duration { float: left; color: #555; margin-top: .30em;}

    </style>
    <script type="text/javascript">
    var Pharos = Pharos || {};

	Pharos.updateMetric = function (metric_spec) {
		var elem_id = "metric_" + metric_spec.id;
		
		// And start updating values
		var $metric = $("#" + elem_id);

		// We don't update highlighted metrics
		if ($metric.hasClass("metric_highlight")) {
			return
		}

		$metric.find("div.metric_duration").html("<small>(for " + metric_spec.duration + ")</small>");
		$metric.find("div.metric_detail").html(metric_spec.detail);


		var $value = $metric.find("div.metric_value");
		$value.html(metric_spec.value);

		$value.removeClass("metric_value_ok metric_value_warning metric_value_critical");

		// And then update the value class if a stat has changed
		if (metric_spec.status_ok) {
			$value.addClass("metric_value_ok");
		}
		else if (metric_spec.status_warning) {
			$value.addClass("metric_value_warning");
		}
		else if (metric_spec.status_critical) {
			$value.addClass("metric_value_critical");
		}
		else {
			alert("unknown status");
		}
		
		// We're possible hidden
		$("#" + elem_id + ":hidden").show();
		
	};

	Pharos.triggerUpdateResponse = function (response) {
		$.each(response.metric_watchers, function (k, v) {Pharos.updateMetric(v);});
		// And then do it all over again
		window.setTimeout(Pharos.triggerUpdate, 1000);
	};

	Pharos.triggerUpdate = function () {
		$.getJSON("/poll/json", Pharos.triggerUpdateResponse);
	};

	Pharos.initMetricClick = function (val, elem) {
		$(elem).find(".metric_name").click(function (event) {
		 	$(elem).toggleClass("metric_highlight");
		 	$(elem).find('div.metric_detail').slideToggle(50);
		});
	}

    Pharos.init = function () {
		$(".metric").each(Pharos.initMetricClick);

		Pharos.triggerUpdate();
    };

    $(document).ready(Pharos.init);

    </script>
    
  </head>
  <body>
      <header>
          <div id="title"class="left"><h1>{{ page_title }}</h1></div>
          <div id="tagline">Letting you know your shit is fucked</div>
      </header>
    <section class="">
