<!DOCTYPE html>
<html>
  <head>
    <title>Pharos</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/invisibleframework.css" type="text/css" media="screen" />
    <style type="text/css" media="screen">
      body { padding: 0em 2em 0 2em; background: #333; color: white; font-size: 12px;}
      header nav { background: gray; padding: 0.7em; border-radius: 0.5em;} a { color: orange; }
      footer { font-size: 0.7em; clear: left; padding-top: 3em;}
      
      input { width: 40%; }
      #title { float: left; padding: 1em 1em 0 0}
      #tagline { clear: right; padding: 1.85em 0em 0em 1em; color: #555;}
      .metric {padding: .7em 0em 0em 1em; float: left; border: 1px solid #555; width: 350px; margin: 2px 2px 0 0;}
      .metric_highlight {border: 1px solid #222; background: #555;}
      .metric_list {padding: 2em 0em 1em 1em; clear: right;}
      .metric_name { float: left; padding-right: 1em; margin: .30em 0em 0em 0em; width: 170px; cursor: pointer;}

      .metric_value_ok, .metric_value_warning, .metric_value_critical { float: left; padding: .2em .3em .2em .3em; margin: .1em .7em 1em .5em; font-family: monospace; width: 55px;}
      .metric_value_ok { background: green;}
      .metric_value_warning { background: orange;}
      .metric_value_critical { background: red;}
      
      .metric_detail {display: none; clear:left; margin-bottom: .50em; }
      .metric_duration { float: left; color: #555; margin-top: .30em;}

    </style>
    <script type="text/javascript">
    var Pharos = Pharos || {};

    Pharos.detailClickForMetric = function (metric_id) {
        $("#" + metric_id + " .metric_name").click(function (event) {
            $("#" + metric_id).toggleClass("metric_highlight")
            $("#" + metric_id + " .metric_detail").slideToggle(50);
        });
    };

    Pharos.init = function () {
        $(".metric").each(function (count, elem) {
            function update() {
                $.ajax({
                    url: "/poll/" + elem.id,
                    timeout: 60000,
                    success: function(resp) {
                        matched = $("#" + elem.id);
                        if ($("#" + elem.id + ' .metric_detail').css("display") === "none") {
                            matched.hide();
                            matched.after(resp);
                            matched.detach();
                            Pharos.detailClickForMetric(elem.id);
                        }
                        window.setTimeout(update, 1000);
                    },
                    error: function (req, status, error) {
                        $("#" + elem.id + ' .metric_value').html("<div class=\"metric_value_critical\">unknown</div>");
                        window.setTimeout(update, 1000);
                    }
                });
            };
            update();
            Pharos.detailClickForMetric(elem.id);
        });

        // window.setTimeout(function () {window.location.reload();}, 60000);
    };

    $(document).ready(Pharos.init);

    </script>
    
  </head>
  <body>
      <header>
          <div id="title"class="left"><h1>Pharos</h1></div>
          <div id="tagline">Letting you know your shit is fucked</div>
      </header>
    <section class="">
